# Idea #
###################
.idea/

# Test #
###################
.eggs
.pytest_cache
pepdist.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/


pepdist/__pycache__/__init__.cpython-37.pyc
pepdist/similarity/__pycache__/scoring_matrix.cpython-37.pyc
pepdist/similarity/__pycache__/similarity.cpython-37.pyc
